$bg-color: #a36e49;
$border-color: red;

body {
  margin: 0px;
  background-color: $bg-color;

   .sd-header-spacer {
      height: 50px;
   }

   .sd-content-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }

   .sd-landing-page {
      height: 100%;
      width: 100%;
      background-color: white;
      transition: transform 0.5s, opacity 0.5s;

      &.transition-appear {
         opacity: 0;
         transform: translate3d(100%, 0, 0);
      }

      &.transition-appear.transition-appear-active {
         opacity: 1;
         transform: translate3d(0, 0, 0);
      }
      &.transition-leave {
         opacity: 1;
         transform: translate3d(0, 0, 0);
      }

      &.transition-leave.transition-leave-active {
         opacity: 0;
         transform: translate3d(100%, 0, 0);
      }
   }

   .sd-game-board {
      transition: transform 0.5s, opacity 0.5s;
      
      &.transition-appear {
         opacity: 0;
         transform: translate3d(100%, 0, 0);
      }

      &.transition-appear.transition-appear-active {
         opacity: 1;
         transform: translate3d(0, 0, 0);
      }
      &.transition-leave {
         opacity: 1;
         transform: translate3d(0, 0, 0);
      }

      &.transition-leave.transition-leave-active {
         opacity: 0;
         transform: translate3d(100%, 0, 0);
      }
   }

   .konvajs-content {
      background-color: #FFFFFF;
      border-radius: 5px;
   }
}
